.css-grid[b-yc005xsw2j] {
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 10px;
    display: grid;
    width: 286px;
}

.css-recipe[b-yc005xsw2j] {
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 10px;
    display: grid;
    width: 212px;
}

.actions[b-yc005xsw2j] {
    border: 1px solid black;
    height: 250px;
    overflow: scroll;
}